<h1><%= @cocktail.name %></h1>
<h3>Description</h3>
<h5><%= @cocktail.description %></h5>
<%= link_to "Edit description", edit_cocktail_path(@cocktail) %>
<h3>Ingredients</h3>
<% @cocktail.doses.each do |dose| %>
  <h5><%= dose.ingredient.name %> - <%= dose.description %>
<% end %>
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to cocktails", cocktails_path %>



