<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <div class="form-group">
    <%= f.label :ingredients %>
    <%= f.association :ingredient, class: 'form-control' %>
    <%= f.label :dose %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
